<h1><%=@place["name"]%></h1>

<ul>
<%for post in @posts%>
    <li><%=post["title"]%>: <%=post["description"]%></li>
<%end%>
</ul>

<p>
 <a href = "/places">Back to all places</a>
</p>

<!-- creates a link to post about this place-->
<!-- links to new.html.erb form in posts-->
<!-- adding the key ?place_id lets html know we're passing @place["id"] to the next page-->
<p>
 <a href = "/posts/new?place_id=<%=@place["id"]%>">Add a new post about <%=@place["name"]%></a>
</p>