<h1><%=@place["name"]%></h1>

<%for post in @posts%>
    <h2><%=post["title"]%></h2> 
    <p><%=post["description"]%> (<%=post["posted_on"]%>)</p>
<%end%>


<p>
 <a href = "/places">Back to all places</a>
</p>

<!-- creates a link to post about this place-->
<!-- links to new.html.erb form in posts-->
<!-- adding the key ?place_id lets html know we're passing @place["id"] to the next page-->
<p>
 <a href = "/posts/new?place_id=<%=@place["id"]%>">Add a new post about <%=@place["name"]%></a>
</p>